/ Large modal

#deviseModal.modal.fade.bs-example-modal-lg{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#deviseModalLabel.modal-title{:style => "text-align: center"}
          = t("form.account_settings")
      .modal-body
        #devise
          %center
            %i.fa.fa-spinner.fa-spin{:style => "font-size:30px"}
        .row
      .modal-footer
        %center
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
            = t("buttons.close")
          /%button.btn.btn-primary{:type => "button"} Save changes
