!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Привет, новая компания запрашивает доступ к тестированию.
    %p
      Название: #{@company.name}
    %p
      Имейл: #{@company.email}
    %p
      Сфера: #{@company.desc}
    %p
      __
    %p
      Приятной и продуктивной работы на Гипокауст.