// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.form-control {
height: 100px;
}

.btn {
    margin: 2px;
}
.well {
    padding: 7px;
}

.addtofavAction {
	color: lightblue;
	cursor: pointer;
}
