<p>Привет, <%= @email %>!</p>

<p>Добро пожаловать на Гипокауст. Чтобы начать работать, подтверди свой имейл по ссылке ниже:</p>

<p><%= link_to 'Подтвердить свой имейл', confirmation_url(@resource, confirmation_token: @token) %></p>
