<p>Привет, <%= @resource.email %>!</p>

<p>Мы заметили, что кто-то запросил ссылку на востановление пароля от твоего аккаунта, если это ты то:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если ты не запрашивал данное действие, то проигнорируй данное письмо.</p>
<p>Пароль не будет изменен, если не перейти по ссылке сверху.</p>
