%h4
  %center
    %span.glyphicon.glyphicon-bell
    = t("activity.activity")
#activities
  = render "activities_by_day"

.pagination-centered= will_paginate @activities

= render partial: "tasks/task_modal", object: @task, as: :task
